
.image-item,
.image-wrap-4 {
    border: 3px solid #e60002;
}

h2.counter {
    color: #e60002;
}

hr {
    background: #e60002;
}

.thumb_overlay:before {
    content: "\f00e";
    font-family: FontAwesome;
}

.bg-fixed-1 {
    background: #333 url(../images/png1.png);
    background-size: cover;
}

.ul-sty {
    list-style: square;
    margin-left: 17px;
}

.mt-35px {
    margin-top: 35px;
}
/*Start Breadcrumb area css */
.breadcrumb-area {
    background: rgba(0, 0, 0, 0) url("../images/bg-image-3.jpg") no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
}
.breadcrumb-area::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
.breadcrumb-text {
    padding-bottom: 93px;
    padding-top: 199px;
}
.breadcrumb-text h1 {
    color: #ffffff;
    font-size: 45px;
    font-style: italic;
    text-transform: capitalize;
    font-family: "PT Serif",sans-serif;
    display: inline-block;
}
.breadcrumb-text ul.breadcrumbs {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.breadcrumb-text ul.breadcrumbs li{
    float:none;
    display:inline-block;
}
.breadcrumb-text ul.breadcrumbs li a{
    font-size:14px;
    color:#ffffff;
    font-style:italic;
    font-family: "PT Serif",sans-serif;
}
.breadcrumb-text ul.breadcrumbs li i {
    color: #fff;
    padding-left: 12px;
    padding-top: 5px;
    padding-right: 5px;
    font-style:italic;
}
#practice-v5-area {
    line-height: 26px;
    padding: 100px 0;
    font-family: "Open Sans",sans-serif;
}
.practice-right-sidebar {
    margin-right: -30px;
}
.practice-left-content {
    margin-left: 60px;
}
.practice-law-box {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 0;
}
.single-law-box {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    border-left:7px solid transparent;
    transition: all .5s ease;
}
.single-law-box a {
    color: #202020;
    display: block;
    padding: 22px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
}
.single-law-box a i {
    color: #7d7d7d;
    display: block;
    float: right;
    font-size: 18px;
    padding-top: 4px;
    transition: all .3s ease;
}
.single-law-box:hover,
.single-law-box.active {
    border-left-color: #e60002;
}
.single-law-box:hover a,
.single-law-box.active a {
    color:#e60002;
}

.practice-left-top-left-img {
    float: left;
    margin-right: 30px;
}
.practice-left-middle-text h2 {
    color: #000000;
    font-family: "Raleway",sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 57px;
    text-transform: uppercase;
}
.practice-left-bottom-text {
    padding-top: 40px;
}
.practice-bottom-left-img {
    float: left;
    margin-right: 40px;
}
.practice-bottom-right-text h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
    margin-bottom:20px;
}

@media (min-width: 1200px) {
    .rd-parallax-2 {
        left: 220%;
    }

    .rd-parallax .rd-parallax__body .parallax-1.p-1 {
        border-right: 3px solid #e60002;
    }

    .rd-parallax .rd-parallax__body.b-1 {
        border-right: 3px solid #e60002;
        margin-right: -3px;
    }

    .rd-parallax .rd-parallax__body.b-2 {
        border-left: 3px solid #e60002;
        margin-left: -3px;
    }

    .rd-parallax .rd-parallax__body .parallax-1.p-2 {
        border-left: 3px solid #e60002;
    }

    h3 + * {
        margin-top: 25px;
    }

    .rd-parallax .rd-parallax__body .parallax-1.p-1 .bg-fixed {
        background: url(../images/111.jpg) no-repeat;
        height: 1587px;
        width: 100%;
        background-attachment: fixed;
        -webkit-transform: skew(45deg);
        transform: skew(45deg);
        -webkit-background-size: 60% 100%;
        background-size: 60% 100%;
    }

    blockquote {
        padding-right: 7%;
        padding-left: 0;
        position: relative;
    }
}

@media (min-width: 992px) {
    h3.f-28 {
        font-size: 28px;
    }
}

@media (min-width: 1200px) {
    .stellarnav > ul > li > a {
        padding: 20px 15px;
        font-size: 15px;
    }

    .stellarnav li a {
        font-size: 15px;
    }

    .stellarnav ul {
        text-align: center;
    }

}

@media (max-width: 1201px) {
    .stellarnav.mobile .menu-toggle, .stellarnav.mobile .dd-toggle, .stellarnav.mobile .close-menu, .stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile {
        background: #e60002;
        color: #fff;
    }
    .top-logo{
        text-align: center;
    }
    .top-menu{
        margin-top: 20px !important;
    }
}

@media (min-width: 992px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.stellarnav li.has-sub > a:after {
    content: '\f107';
}

.stellarnav li li.has-sub > a:after {
    content: '\f105';
    float: right;
}
.scrolled{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) 0 6px 13px;
}
a{
    text-decoration: none !important;
}
.owl-nav{
    text-align: center;
}
.owl-prev , .owl-next{
    display: inline-block;
    font-size: 23px;
    color: #e60002;
    border: 2px solid #e60002;
    padding: 3px 10px;
    margin: 7px;
    transition: all 0.5s;
}
.owl-prev:hover , .owl-next:hover{
    background: #e60002;
    color: #fff;
}
.owl-carousel .owl-item{
    text-align: center;
}
.owl-carousel .owl-item img{
    max-height: 328px;
}